@import '../../common/foundation/resources/client/core/common.css';
@import 'web-player/playable-item/content-grid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-grid:not(.dashboard-mobile-mode) .player-section {
  @apply rounded-panel border border-divider-lighter bg-elevated dark:border-none;
}

.button-with-progress {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    padding: 2px;
    background: conic-gradient(
      theme('colors.primary') var(--progress),
      transparent 0
    );
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
    transition: --progress 0.2s ease;
  }
}

@media (min-width: 1200px) {
  .web-player-container {
    max-width: 954px;
  }
}
@media (min-width: 1310px) {
  .web-player-container {
    max-width: 1086px;
  }
}
@media (min-width: 1430px) {
  .web-player-container {
    max-width: 1206px;
  }
}
@media (min-width: 1728px) {
  .web-player-container {
    max-width: 1504px;
  }
}

.landing-container {
  @apply relative mx-auto px-24;
}

@media screen and (min-width: 768px) {
  .landing-container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .landing-container {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .landing-container {
    max-width: 1170px;
  }
}
